<div class="post-container">
  <div class="start-post">
    <div class="write-post">
      <a>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor"
          width="24" height="24" focusable="false">
          <path
            d="M17 13.75l2-2V20a1 1 0 01-1 1H4a1 1 0 01-1-1V6a1 1 0 011-1h8.25l-2 2H5v12h12v-5.25zm5-8a1 1 0 01-.29.74L13.15 15 7 17l2-6.15 8.55-8.55a1 1 0 011.41 0L21.71 5a1 1 0 01.29.71zm-4.07 1.83l-1.5-1.5-6.06 6.06 1.5 1.5zm1.84-1.84l-1.5-1.5-1.18 1.17 1.5 1.5z">
          </path>
        </svg>
      </a>
      <a (click)=" openWitePostModal()"><span>Start a post</span></a>
    </div>
    <div class="post-media">
      <div class="camera">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor"
            width="24" height="24" focusable="false">
            <path
              d="M21 6h-3l-1.5-3h-9L6 6H3a1 1 0 00-1 1v12a1 1 0 001 1h18a1 1 0 001-1V7a1 1 0 00-1-1zM7.36 8l1.5-3h6.28l1.5 3H20v2h-3.42a5 5 0 00-9.16 0H4V8h3.36zm7.76 4A3.13 3.13 0 1112 8.88 3.13 3.13 0 0115.13 12zM4 18v-7h3.1a5 5 0 109.8 0H20v7H4z">
            </path>
          </svg>
        </div>
      </div>

      <div class="vedio">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor"
            width="24" height="24" focusable="false">
            <path
              d="M21 5.92a1 1 0 00-.57.18L17 8.5V7a1 1 0 00-1-1H3a1 1 0 00-1 1v10a1 1 0 001 1h13a1 1 0 001-1v-1.5l3.43 2.4a1 1 0 00.57.18 1 1 0 001-1V6.92a1 1 0 00-1-1zM15 16H4V8h11v8zm2-5.21l3-2.1v6.62l-3-2.1v-2.42z">
            </path>
          </svg>
        </div>
      </div>
      <div class="file">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor"
            width="24" height="24" focusable="false">
            <path
              d="M14.13 2H5a1 1 0 00-1 1v18a1 1 0 001 1h14a1 1 0 001-1V7.88zM18 20H6V4h7v5h5v11zM8 12h8v1H8v-1zm0 3h6v1H8v-1z">
            </path>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="write-article">
    <a href="#">Write an article</a><span> on linked in</span>
  </div>
</div>



<div [ngClass]="{'modal-opened' : openWritePost}" *ngIf="openWritePost">
  <div class="modal-backdrop styling" [ngClass]="{'modal-opened' : openWritePost}">
  </div>
  <div class="modal fade bd-example-modal show" id="profileModal" tabindex="-1" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" style="display: block;">
    <div class="modaly">
      <div class="create-post">
        <span>Create a post</span>
        <i class="fas fa-times close" (click)=" openWitePostModal()"> </i>
      </div>
      <div class="modaly-container">
        <div class="user-info">
          <div class="user-img">
            <img [src]="user.profileImg" class="user-photo" />
          </div>

          <div class="user-name">
            <h5 class="anyone">{{user.firstName +" "+ user.lastName}}</h5>
            <div class="btn-any">

            </div>
          </div>

        </div>
        <div class="textarea">
          <textarea placeholder="What do you want to talk about?" #post></textarea>
        </div>
        <div>
          <div class="hashtag-btn">Add hashtag</div>
          <span class="hashtag-text">Help the right people see your post</span>
        </div>
        <div class="modaly-icons">
          <i class="fas fa-plus" style=" color: #147eb7; cursor: pointer;"></i>
          <i class="fas fa-camera-retro " style="cursor: pointer;"></i>
          <i class="fas fa-video" style="cursor: pointer;"></i>
          <i class="far fa-file-alt" style="cursor: pointer;"></i>
          <button class="btn btn-primary" (click)="savePost(post)">post</button>
        </div>

      </div>
      <div class="modaly-end">
        <div class="modaly-end-btn">Celebrate a teammate</div>
      </div>
    </div>
  </div>
</div>
