<div class="container">
  <div class="card shadow-sm rounded" style="width: 19.5rem;">
    <span class="border p-1 border-white">

      <img src="assets/images/li_evergreen_jobs_ad_300x250_v1.jpg" alt="...">
    </span>
    <!-- <div class="card-body">
               <h5 class="card-title">Card title</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                   the card's content.</p>
               <a href="#" class="btn btn-primary">Go somewhere</a>
           </div> -->
  </div>
  <hr class="hr-width">
  <div class="hr-width text-center">


    <div class=" mb-2 right-card-flex">
      <span class="font pointer about-color about-hover">About</span>
      <span class="font pointer about-color about-hover">Help Center</span>
      <span class="font pointer about-color about-hover">Privacy & Terms
        <img class="about-icon" src="assets/images/icons8-expand-arrow-13.png">
      </span>
      <!-- <div class="card-display" id="about-icon"></div> -->

    </div>
    <div class="mb-2 right-card-flex">
      <span class="font pointer about-color about-hover">Advertising</span>
      <span class="font pointer about-color about-hover">Business Services
        <img class="about-icon" src="assets/images/icons8-expand-arrow-13.png">
      </span>
      <!-- <div class="card-display" id="about-icon"></div> -->

    </div>
    <div class="mb-2 right-card-flex">
      <span class="font pointer about-color about-hover">Get the LinkedIn app</span>
      <span class="font pointer about-color about-hover">More</span>

    </div>
    <div class="text-center font">
      <div class="card-display">
        <img class="about-img" src="assets/images/1200px-LinkedIn_Logo.svg.png" alt="linkedIn">
      </div>
      <div class="about-text">
        LinkedIn Corporation © 2020
      </div>
    </div>


  </div>

</div>
